.app-header {
	& .navbar-nav {
		& .navbar-item {
			& .navbar-link {
				&:focus {
					opacity: $top-menu-color-hover-opacity;
					color: $top-menu-color-hover !important;
				}
			}
		}
	}
  & span.header-user-name {
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  & select.form-select {
    max-width: 250px;
    width: 100%;
  }
	&.app-header-inverse {
		& .navbar-nav {
			& > .navbar-item {
				& > .navbar-link {
					font-weight: $top-menu-font-weight;
					color: $top-menu-color;
					font-size: $top-menu-font-size;
					letter-spacing: $top-menu-letter-spacing;
				}
			}
		}
	}
}
