@media (min-width: 992px) {
    div,
    main,
    ol,
    pre,
    span,
    ul {
        scrollbar-width: thin;
        scrollbar-color: #eff2f5 transparent;
    }
    div::-webkit-scrollbar,
    main::-webkit-scrollbar,
    ol::-webkit-scrollbar,
    pre::-webkit-scrollbar,
    span::-webkit-scrollbar,
    ul::-webkit-scrollbar {
        width: .4rem;
        height: .4rem;
    }

    div::-webkit-scrollbar-thumb,
    main::-webkit-scrollbar-thumb,
    ol::-webkit-scrollbar-thumb,
    pre::-webkit-scrollbar-thumb,
    span::-webkit-scrollbar-thumb,
    ul::-webkit-scrollbar-thumb {
        background-color: #eff2f5;
    }
}

@media (max-width: 767.98px) {
    #content {
        background-image: none !important;
    }
}

label.required:after {
    content: "*";
    font-size: inherit;
    color: #f1416c;
    padding-left: .25rem;
    font-weight: 700;
}
